@media screen and (max-width:1028px) {
   nav{
       display: block;
   }
   header{
       height: 25vh;
   }
   h1{
       display: block;
       text-align: center;
   }

}
@media screen and (max-width:648px) {
    .ok{
        padding: 0 15px;
    }
}
@media screen and (max-width:524px) {
    nav ul li{
        padding: 0 20px;
    }
    body{
        background-color: black;
    }
}
@media screen and (max-width:446px) {
   nav ul li{
       padding: 0 15px;
   }
}
@media screen and (max-width:416px) {
    .ok{
        padding: 0 10px;
    }
 }
 @media screen and (max-width:400px) {
    .ok{
        font-size: larger;
    }
 }
 @media screen and (max-width:368px) {
    nav ul li{
        padding: 0 10px;
    }
 }
 @media screen and (max-width:336px) {
    nav ul li{
        padding: 0 10px;
        font-size: smaller;
    }
 }
 @media screen and (max-width:324px) {
   .ok{
       font-size: large;
       padding: 0 5px;
   }
 }
 